@font-face {
  font-family: "Yekan Bakh Hairline";
  src: url("../Fonts/YekanBakh/YekanBakh-Hairline.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Yekan Bakh";
  src: url("../Fonts/YekanBakh/YekanBakh-Thin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Yekan Bakh";
  src: url("../Fonts/YekanBakh/YekanBakh-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Yekan Bakh";
  src: url("../Fonts/YekanBakh/YekanBakh-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Yekan Bakh";
  src: url("../Fonts/YekanBakh/YekanBakh-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("../Fonts/YekanBakh/YekanBakh-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("../Fonts/YekanBakh/YekanBakh-Heavy.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh Fat";
  src: url("../Fonts/YekanBakh/YekanBakh-Fat.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
